* {
    font-family: papyrus;
}

.container {
  background-color: #80b3ff;
  width: 60%;
  height: auto;
  /* text-align: center; */
  margin:auto;
  padding-left: 20px;
  
  
}

.header {
    padding: 60px;
    text-align: center;
    background: #3385ff;
    color: white;
    font-size: 30px;
    width: 810px;
    margin: auto;
    height: auto;
    
  }

#message {
  margin-bottom: 30px;
  margin-top: 20px;
}

.message {
  padding-bottom: 14px;
  border-bottom: black dashed 1px;
  padding-top: 14px;
}
